<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcbigdatademo1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/837281a9-2f50-4331-a1f2-c5d66b13b028/resourceGroups/GROUP1/providers/Microsoft.Web/sites/funcBigdataDemo1</ResourceId>
    <UserName>$funcBigdataDemo1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funcbigdatademo1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>